<div class="row">
  <div class="col">
    <mat-card>
      <mat-card-header>Stat Title</mat-card-header>
      <mat-card-content>
        <div class="d-flex justify-content-center align-items-center p-5">
          <p>Stat Content</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col">
    <mat-card>
      <mat-card-header>Stat Title</mat-card-header>
      <mat-card-content>
        <div class="d-flex justify-content-center align-items-center p-5">
          <p>Stat Content</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col">
    <mat-card>
      <mat-card-header>Stat Title</mat-card-header>
      <mat-card-content>
        <div class="d-flex justify-content-center align-items-center p-5">
          <p>Stat Content</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col">
    <mat-card>
      <mat-card-header>Stat Title</mat-card-header>
      <mat-card-content>
        <div class="d-flex justify-content-center align-items-center p-5">
          <p>Stat Content</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
