mat-drawer {
  width: 15vw;
}

.example-container {
  width: 100vw;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.example-sidenav-content {
  height: 100%;
}

.example-sidenav {
  padding: 20px;
}
