<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" [(opened)]="drawerOpen">
    <cc-nav></cc-nav>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar>
      <span>My Application</span>
    </mat-toolbar>
    <div class="content-container">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
      <router-outlet></router-outlet>
      <br>
      <br>
      <button mat-flat-button type="button">Test Button</button>
    </div>
  </div>

</mat-drawer-container>
